{% extends 'base.html' %} {% block content %}

<h2 style="position: absolute; top: 200px; left: 950px;">修改用户信息</h2>

<form method="post" action="{{ url_for('admin_users_edit', user_id=user_data['user_id']) }}">
    <div class="form-group">
        <label style="position: absolute; top: 335px; left: 850px;
        margin-bottom: 5px;" for="username">用户名</label>
        <input style="position: absolute; top: 325px; left: 925px;padding: 10px 10px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: #f8f8f8;" type="text" class="form-control" id="username" name="username" value="{{ user_data['username'] }}" required>
    </div>
    <div class="form-group">
        <label style="position: absolute; top: 410px; left: 850px;
        margin-bottom: 5px;" for="password">密码</label>
        <input style="position: absolute; top: 400px; left: 925px;padding: 10px 10px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: #f8f8f8;" type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
        <label style="position: absolute; top: 485px; left: 850px;
        margin-bottom: 5px;" for="user_type">用户权限</label>
        <select style="position: absolute; top: 485px; left: 960px;padding: 10px 10px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: #f8f8f8;" class="form-control" id="user_type" name="user_type">
        <option value="regular" {% if user_data['user_type'] == 'regular' %}selected{% endif %}>Regular User</option>
        <option value="admin" {% if user_data['user_type'] == 'admin' %}selected{% endif %}>Admin User</option>
      </select>
    </div>
    <button style="position: absolute; top: 600px; left: 975px;background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px" type="submit" class="btn btn-primary">保存修改</button>
</form>
{% endblock %}